################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/LI42425/FileContentIndex/af35db22-04b1-48eb-83be-324a46093401.vsidx
/.vs/LI42425/FileContentIndex/002d7ecf-a011-458d-b06c-ffb123febf0a.vsidx
/.vs/LI42425/FileContentIndex/18f45cfe-e2c1-4408-8cc6-2e9586a049c2.vsidx
/.vs/LI42425/FileContentIndex/7c14941b-ca8c-4398-8438-c01dada00cfc.vsidx
/.vs/LI42425/FileContentIndex/92d517c0-6062-4415-a0ef-cc3d55dc64de.vsidx
/.vs/LI42425/FileContentIndex/f293e746-909a-4e78-8f69-884da65e1421.vsidx
