@inherits LayoutComponentBase

<nav class="menu-h">
    <ul>
        <!-- Logotipo -->
        <li class="logo-item">
            <img src="images/logo.png" alt="Cantinho da Doçura" class="logo-img">
        </li>
        <!-- Links do Menu -->
        <li><a href="/">Início</a></li>
        <li><a href="#">Favoritos</a></li>
        <li><a href="/areapessoal">Área Pessoal</a></li>
        <li><a href="/carrinho">Carrinho de Compras</a></li>
        <li><a href="#">Avaliações</a></li>
        <li><a href="/faq">FAQ</a></li>
    </ul>
</nav>
<main>
    @Body <!-- conteúdo específico da página -->
</main>
