/*
.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
        text-decoration: underline;
    }

    .top-row ::deep a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
*/

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh; /*define a altura da janela do browser*/
    box-sizing: border-box; /* Inclui padding e border no cálculo do tamanho */
}

/* Estilos para o menu */
.menu-h { /* Mudando de #menu-h para .menu-h */
    list-style-type: none; /* Remove os pontos da lista */
    padding: 0;
    background-color: #989696; /* Cor de fundo do menu */
    width: 100%; /* Ocupa toda a largura da tela */
    z-index: 1000; /* Garante que o menu fique acima de outros elementos */
    top: 0; /* posiciona o menu no topo*/
    display: flex;
    justify-content: space-between; /* Alinha logo à esquerda e links à direita */
    align-items: center; /* Alinha os itens do menu verticalmente */
}

    .menu-h ul {
        display: flex; /* Exibe os itens em linha */
        margin: 0;
        padding: 0;
    }

        .menu-h ul li {
            display: inline; /* Itens do menu ao lado um do outro */
        }

            .menu-h ul li a {
                color: white; /* Cor do texto dos links */
                text-decoration: none; /* Remove o sublinhado dos links */
                padding: 20px;
                font-size: 16px;
                display: inline-block;
                transition: background .4s;
            }

                .menu-h ul li a:hover {
                    background-color: #F2D8E6; /* Efeito de fundo quando o cursor passa sobre o link */
                }

.logo-item {
    margin-right: auto; /* Alinha o logo à esquerda */
}

.logo-img {
    height: 64px; /* Mesma altura do menu */
    width: auto; /* Mantém a proporção da imagem */
    display: block; /* Garante que a imagem seja tratada como um bloco */
}
