@page "/recuperarsenha"

<head>
    <link href="css/autenticacao.css" rel="stylesheet" />
</head>

<div class="container">
    <div class="logo">
        <img src="images/logo.png" alt="Logo do Cantinho da Doçura" />
    </div>

    <h2>Recuperar palavra-passe</h2>
    <p>Indique o seu email</p>
    <form>
        <input type="email" placeholder="EMAIL" required />
        <button type="submit">Confirmar</button>
    </form>
</div>


