@page "/"
@inject business.IFacade Facade
@inherits LayoutComponentBase
@layout Layout.MainLayout

<head>
    <link href="css/menuTarte.css" rel="stylesheet" />
</head>

<h1 class="titulo-menu">Bem-vindo ao Cantinho da Doçura!</h1>
<h2 class="subtitulo-menu">
    "Na nossa pastelaria, cada doce é um pedaço de felicidade
    que derrete na boca e aquece o coração!"
</h2>

<div class="menu-tartes">
    @* Gera os links dinamicamente a partir do Facade *@
    @foreach (var tarte in Facade.ObterTartes())
    {
        <NavLink class="tarte" href=@($"/tarte/{tarte.Id}") tabindex="0">
            @tarte.Nome
            <img src="@tarte.Imagem" alt="@tarte.Nome" />
        </NavLink>
    }
</div>
