@page "/areapessoal"

<head>
    <link href="css/areapessoal.css" rel="stylesheet" />
</head>

<div class="botao-container">
    <h2>A Minha Conta</h2>
    <div class="user">
        <img src="images/user.png" alt="Utilizador">
    </div>
    <a href="#" class="botao">Dados Pessoais</a>
    <a href="#" class="botao">Modificar Dados Pessoais</a>
    <a href="#" class="botao">As Minhas Encomendas</a>
    <a href="#" class="botao">Terminar Sessão</a>
    <p>Se já tem conta, <a class="a-criar-login" href="/login"> faça login.</a> Senão, faça o seu registo em <a class="a-criar-login" href="/registo">criar conta</a></p>
</div>