@page "/faq"
@inject business.IFacade Facade
@inherits LayoutComponentBase
@layout Layout.MainLayout

<head>
    <link href="css/faq.css" rel="stylesheet" />
</head>

<div class="faq-container">
    <h2>Perguntas Frequentes (FAQ)</h2>
    <div class="menu-tartes">
        @* Gera os links dinamicamente a partir do Facade *@
        @foreach (var faq in Facade.GetFAQ())
        {
            <div class= "faq-item">
                <h3 class="faq-question"> @faq.Pergunta
                <p class="faq-answer"> @faq.Resposta</p>
                </h3>
            </div>
        }
    </div>

</div>